{% extends "base.html" %}
{% load gpt2_extras %}

{% block extra_css %}
<style type="text/css">
  .panel-heading {
  padding: 5px 15px;
  }
  
  .panel-footer {
  padding: 1px 15px;
  color: #A0A0A0;
  }
  
  .profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  }
</style>
{% endblock extra_css %}

{% block content %}
<div class="container" style="margin-top:40px">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">

      {% if form.errors %}
      <p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
      {% endif %}

      <div class="panel panel-default">
	<div class="panel-heading">
	  <strong> Sign in to continue</strong>
	</div>
	<div class="panel-body">
	  <form role="form" action="{% url election.name|addstr:':login' %}" method="POST">
	    {% csrf_token %}
	    <fieldset>
	      <div class="row">
		<div class="col-sm-12 col-md-10  col-md-offset-1 ">
		  <div class="form-group">
		    <div class="input-group">
		      <span class="input-group-addon">
			<i class="glyphicon glyphicon-user"></i>
		      </span> 
		      <input class="form-control" placeholder="Username" name="user" type="text" autofocus>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="input-group">
		      <span class="input-group-addon">
			<i class="glyphicon glyphicon-lock"></i>
		      </span>
		      <input class="form-control" placeholder="Password" name="password" type="password" value="">
		    </div>
		  </div>
		  <div class="form-group">
		    <input type="submit" class="btn btn-default btn-primary btn-block" value="Sign in">
		  </div>
		</div>
	      </div>
	    </fieldset>
	  </form>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
