body {
    margin: 0px;
    padding: 0px;
    background: #413c3c;
    color: white;
}

/* MAIN LAYOUT */

.navbar {
    margin-bottom: 0px !important;
    min-height: inherit !important;
}

.navbar-brand {
    padding: 10px !important;
    height: inherit !important;
}

.navbar-nav > li > a {
    padding: 10px !important;
}

.page-pre {
    background: url('../images/bg-left.png'); 
    background-repeat: repeat-y; 
    background-position: top left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    clear: both;
}

.page-pre p.tools {
    margin: 5px 0px 0px 0px;
    opacity: 0.3;
    position: absolute;
    float: left;
    width: 42px;
    text-align: center;
}

.page-pre p.tools:hover {
    opacity: 1;
}

.page-pre p.tools img {
    border: none;
}

.page-post {
    background: url('../images/bg-right.png');
    background-repeat: repeat-y; 
    background-position: top right;
    width: 100%;
    margin: 0px;
    padding: 0px;
    clear: both;
}

.page {
    margin: 0px 44px 0px 45px;
    padding: 0 0 1em 0;
    background: #ffffff;
    min-height: 480px;
    color: black;
}

.content {
    margin: 0px;
    padding: 0px 20px;
    width: 100%;
    min-height: 80%;
}

.home {
    margin-top: 2em;
}

#feed {
    float: left;
    vertical-align: middle;
}

#april-logo p {
    position:relative;
    font-size: 10px;
}

#april-logo img, #feed img {
    border: none;
}

.controls {
    padding-top: 2em;
}

.footer {
    background: url('../images/bg-footer.png');
    background-repeat: repeat-x;
    background-position: top;
    padding: 1em 60px 1em 60px;
    margin: 0px;
    color: #ffffff;
    min-height: 4em;
}

.footer a {
    color: #cccccc;
}

.footer a:hover {
    color: #e0691a;
    text-shadow: none;
}

table.logo {
    border: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;    
}

table.logo td {
    margin: 0px;
    padding: 0px;
}

#links {
    background: #413c3c;
    text-align: right;
    z-index: 10;
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

#links a {
    font-size: 12px;
    color: #e9dfc6;
    padding-right: 1em;
}

#links a:hover {
    color: white;
    text-shadow: none;
}

.logo {
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
    color: white;
    background: url('../images/header-empty.png') #043666;
}

.logo .logo-top {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: url('../images/header-top.png') #043666;
    background-position: right 0%;
    background-repeat: no-repeat;
    height: 96px;
    vertical-align: middle;
}

.logo-top p {
    padding: 18px 0 18px 18px;
    margin: 0px;
    border: 1px;
    text-align: left;
    vertical-align: middle;
    height: 96px;
    line-height: 30px;
    font-family: verdana, arial, helvetica, sans-serif;
    letter-spacing: -0.5px;
    font-size: 20px;
}

.logo-top p b {
    font-size: 24px;
    font-weight: bold;
}

.logo-top a, .logo-top a:hover {
    color: white;
    text-shadow: #011930 0px 0px 4px;
}

.logo .logo-bottom {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: url('../images/header-bottom.png');
    background-position: right 0%;
    height: 38px;
}

/* MENU */
.menu { 
    height: 32px; 
    color: #FFF;
    margin: 0px; 
    padding: 0px; 
    background: url('../images/menu.png') #dedede;
    border-bottom: 1px solid #a3a3a3;
    border-top: 1px solid #a3a3a3;
    line-height: 32px;
    -moz-box-shadow: 0px 3px 4px #dddddd;
}

.menu ul {
    margin: 0px; 
    padding: 0px 20px 0px 0px; 
    list-style : none;
    line-height: 32px;
}

.menu li { 
    margin: 0px; 
    padding: 0 10px 0 10px;
    color: gray;
    float: left; 
    line-height: 32px;
    height: 32px;
}

.menu li.active { 
    color: #fff;
    padding: .5em 10px .5em 10px;
}

.menu li a { 
    color: #404040; 
    background: inherit;
    text-decoration: none;
} 

.menu li a:hover, a:hover { 
    color: #e0691a;
    text-shadow: yellow 0px 0px 2px;
} 

.menu form, .menu p {
    padding: 0 0 0 1em;
    margin: 0px;
    float: right;
    vertical-align: middle;
    line-height: 32px;
    height: 32px;
}

.menu p img {
    vertical-align: middle;
}

.menu input#search {
    background: #f0f0f0;
    border: 1px solid #d3d3d3;
    width: 120px;
    margin: 0px 10px 0 0;
    padding: 2px 2px 2px 2px;
    color: gray;
    font-size: 1em;
    vertical-align: middle;
}

.menu input#search:focus {
    background: white;
}

.menu input[type=image] {
    background: none;
    border: none;
    width: 16px;
    height: 16px;
    margin-right: 20px;
    vertical-align: middle;
}

.menu-item {
    margin-left: 24px;
}

.sub-menu {
    border: 1px solid gray;
    position: absolute;
    display: none;
    z-index: 1;
    background: white;
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.sub-menu li {
    float: none;
    background: white;
    padding: 0 0 0 24px;
    min-width: 120px;
}

.pre-formatted {
    white-space: pre-wrap;
}



ul.candidate-list {
    margin-left: 0px;
    padding-left: 0px;
    list-style: outside none none;
}

ul.candidate-list li {
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
    display: block;
}

.candidate-list .candidate-detail {
    border: 1px solid #888;
    padding: 0px;
    margin: 0.5em 0px;
}

.candidate-list .candidate-elected {
    background: #eee;
}

.candidate-list .candidate-name {
    font-size: 120%;
    font-weight: bold;
    display: block;
    margin: 0.5em 0px 0px 0px;
}

.candidate-list .candidate-list-name {
    font-style: italic;
}

.candidate-list .candidate-party, 
.candidate-list .candidate-list-name,  
.candidate-list .candidate-result {
    display: block;
}

.candidate-list .candidate-result {
    font-size: 200%;
    float: right;
}

.candidate-list .candidate-bar {
    clear:both;
    background: #888;
    display: block;
    margin: 0.5em 0px 0px 0px;
    padding: 0px;
    height: 0.5em;
}

.candidate-list .candidate-end {
    clear:both;
    background: none;
    display: block;
    margin: 0px;
    padding: 0px;
    height: 0.5em;
}

.candidate-list img.candidate-photo {
    margin: 0.5em 0.5em;
    width: 3em;
    max-height: 4em;
    float: left;
    vertical-align: bottom;
}

.candidate-list .candidate-container {
    width: 100%;
    padding-left: 4em;
    padding-right: 0.5em;
}

.list-group-item {
    padding: 1em;
}


/*************************************************************/
/* Candidates table */
/*************************************************************/

.candidate-table .candidate-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 25%;
    margin: 0px;
    display: block;
    width: 24px;
    height: 24px;
}

ul.pagination {
    background: white url(../img/pagination-bg.gif) left 180% repeat-x;
    overflow: auto;
    margin: 0;
    padding: 10px;
    border: 1px solid #DDD;
    list-style: none;
}

ul.pagination > li {
    float: left;
    line-height: 22px;
    margin-left: 10px;
}

ul.pagination > li:first-child {
    margin-left: 0;
}

ul.pagination > li.cardinality {
    float: right;
    color: #8d8d8d;
}

.table-container > tbody > tr > td > span.true,
.table-container > tbody > tr > td > span.false {
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    overflow: hidden;
    text-indent: -200px;
    width: 10px;
}

.table-container > tbody > tr > td > .missing {
    background: transparent url(../img/missing.png) right center no-repeat;
    color: #717171;
    padding-right: 20px;
}

.table-container > tbody > tr > td > .missing:hover {
    color: #333;
}

.table-container > tbody > tr > td > span.true {
    background-image: url(../img/true.gif);
}

.table-container > tbody > tr > td > span.false {
    background-image: url(../img/false.gif);
}

