{% load staticfiles %}
{% load gpt2_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.sandstone.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/gpt2.css' %}" />
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    <title>{% block title %}GPT2 powered website{% endblock %}</title>
  </head>

  <body>

    <div id="sidebar">
      {% block sidebar %}
      <nav class="navbar navbar-default navbar-default-top" role="navigation">
	<div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
	    {% if election %}
	    <a class="navbar-brand" href="{% url election.name|addstr:':index' %}">{% block thetitle %}GPT2{% endblock thetitle %}</a>
	    {% else %}
	    <a class="navbar-brand" href="#">GPT2</a>
	    {% endif %}
          </div>
          <div class="navbar-collapse navbar-right hidden-xs">
            <ul class="nav navbar-nav">
	      {% if user.is_authenticated %}
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		  {% if user.volontaire.photo %}<img src="{{user.volontaire.photo.url}}" style="max-width:24px;max-height:24px;float:left;vertical-align:bottom;margin-right:1em;" />{% endif %} {{user.volontaire.prenom}} {{user.volontaire.nom}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
		    {% if election %}
                    <a href="{% url election.name|addstr:':view_profile' %}"><i class="fa fa-user"></i> View profile</a>
                    <a href="{% url election.name|addstr:':logout' %}"><i class="fa fa-sign-out"></i> Log Out</a>
		    {% else %}
                    <a href="{% url 'gpt2:logout' %}"><i class="icon fa fa-sign-out"></i> Log Out</a>
		    {% endif %}
                  </li>
		</ul>
	      </li>
	      {% else %}
	      {% if election %}
	      <li><a href="{% url election.name|addstr:':login' %}"><i class="fa fa-sign-in"></i> Sign in</a></li>
	      {% else %}
	      <li><a href="{% url 'gpt2:login' %}">Login</a></li>
	      {% endif %}
	      {% endif %}
	    </ul>
	  </div>
	</div>
      </nav>
      {% endblock %}
    </div>


    <div class="page-pre">

      <div class="page-post">

	<div class="page">

	  <div class="logo">
	    <div class="logo-top"><p><a href="http://campagnes.candidats.fr/departementales2015//"><b>{{election.label}}</b><br/>
	          Promouvoir &amp; d&eacute;fendre le logiciel
		  libre</a></p></div>
	    <div class="logo-bottom"></div>
	  </div> <!-- .logo -->
	  
	  <div class="menu">
	    {% if election %}
	    <ul><li><a class="menu-item"
		       href="{% url election.name|addstr:':index' %}">Accueil</a></li>
	      <li><a class="menu-item"
		     href="{% url election.name|addstr:':signatories_list' %}">Les
		  signataires</a></li>
	      <li><a class="menu-item"
		     href="{% url election.name|addstr:':constituencies_list' %}">Circonscriptions</a></li>
	      <li><a class="menu-item"
		     href="#">Statistiques</a></li>
	    </ul>
	    {% endif %}
	    
	  </div> <!-- .menu -->

	  <div class="content container-fluid">
	    {% block content %}{% endblock %}
	  </div> <!-- content -->
	</div>   <!-- page -->
      </div>      <!-- page-post -->
    </div>     <!-- page-pre -->
    
    <div class="footer" style="clear: both"->
      <p><a href="http://gna.org/projects/gpt/">GPT - Grassroot Platform
	  Technology</a> - Copyright 2007-2011 
	<a href="http://www.april.org/">April</a>.
	GPT est placé sous GNU Affero General Public License.</p>
    </div>
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
