{% extends base_template %}
{% load gpt2_extras %}
{% load staticfiles %}

{% block title %}
{{candidat.prenom}} {{candidat.nom}}
{% endblock title %}

{% block content %}

<div class="page-header">
  <h1>{{candidat.prenom}} {{candidat.nom}}</h1>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default center">
      <div class="panel-heading">
	<h1 class="panel-title"><i class="fa fa-user"></i> {{candidat.prenom}} {{candidat.nom}}</h1>
      </div>
      <div class="panel-body img-responsive">
	{% if candidat.photo %}
	<img src="{{candidat.photo.url}}" 
	     class="img-responsive center-block" 
	     style="max-width:240px; max-height:240px;" />
	{% else %}
	<img src="{% static candidat.no_photo_url %}" 
	     class="img-responsive center-block" 
	     style="max-width:240px; max-height:240px;" />
	{% endif %}
	<p align="center"><strong><a href="{% url election.name|addstr:':candidates_list' %}?party={{candidat.parti.id}}">{{candidat.parti.nom_complet}}</a></strong></p>
      </div>
    </div>

  </div>
  
  <div class="col-sm-8 responsive-table">
    <h4>Contact</h4>

    <table class="table table-striped table-condensed">
      <tbody>
	<tr>
	  <td><i class="fa fa-home text-success"></i></td>
	  <td><strong>Adress:</strong></td>
	  <td>{% if candidat.adresse %}{{candidat.adresse}}<br/>{% endif %}
	    {{candidat.code_postal}} {{candidat.ville}}</td>
	</tr>
	<tr>
	  <td><i class="fa fa-phone text-success"></i></td>
	  <td><strong>Phone:</strong></td>
	  <td>{{candidat.telephone|default:'<span class="text-muted">None</span>'}}</td>
	</tr>
	<tr>
	  <td><i class="fa fa-fax text-success"></i></td>
	  <td><strong>Fax:</strong></td>
	  <td>{{candidat.fax|default:'<span class="text-muted">None</span>'}}</td>
	</tr>
	<tr>
	  <td><i class="fa fa-at text-success"></i></td>
	  <td><strong>E-mail:</strong></td>
	  <td>
	    {% if candidat.email %}
	    <a href="mailto:{{candidat.email|escape}}">{{candidat.email}}</a>
	    {% else %}
	    <span class="text-muted">None</span>
	    {% endif %}
	  </td>
	</tr>
      </tbody>
    </table>

  </div>

  <div class="col-sm-8">
    <ul class="list-group">
      <li class="list-group-item"><h4 class="list-group-item-heading">Candidate aux élections</h4></li>
      {% for c in candidat.election_candidate_link_c.all %}
      <li class="list-group-item"><a href="{% url c.election.name|addstr:':constituency_detail' c.constituency.id %}"> {%if c.elected %} <span class="label label-success pull-right"><b>Elected</b></span>{% endif %}{%if c.finalist and not c.elected %}<span class="label label-info pull-right"><b>Finalist</b></span>{% endif %}<b>{{c.election.label}}</b> - {{c.constituency.description}}</a></li>

      {% endfor %}
    </ul>
  </div>

</div>
{% endblock content %}
