{% extends base_template %}
{% load gpt2_extras %}
{% load render_table from django_tables2 %}

{% block title %}
Candidates
{% endblock title %}

{% block content %}
<div class="page-header">
  <h1>{{title}}</h1>
</div>

{% render_table candidates %}
{% endblock content %}
