{% extends base_template %}
{% load staticfiles %}
{% load gpt2_extras %}

{% block title %}Candidats pour {{constituency.description}}{% endblock title %}

{% block content %}
<div class="page-header title">
  <h1>{{constituency.description}} <small>Results</small></h1>

</div>

{% for c in other_elections %}
<p>Also in: <a href="{% url c.election.name|addstr:':constituency_detail' c.constituency.id %}">{{c.election.label}}</a></p>
{% endfor %}

{% if election.status >= 2 and finalists %}

<h2>Second tour</h2>

<ul class="candidate-list">
{% for c in finalists %}
<li class="candidate-detail {%if c.elected %}candidate-elected {% endif %}candidate-party-{{c.candidate.parti.acronyme}}">
  <img src="{% if c.candidate.photo %}{{c.candidate.photo.url}}{% else %}{% static c.candidate.no_photo_url %}{% endif %}" class="candidate-photo" />
  <div class="candidate-container">
    {%if c.votes_2nd_ballot %}<span class="candidate-result">{{c.votes_2nd_ballot|stringformat:".2f"}}%</span>{% endif %}
    <a class="candidate-name" href="{% url 'gpt2:candidate_detail' c.candidate.id %}">{{c.candidate}}</a>
    <span class="candidate-party">{{c.candidate.parti}}</span>
    {%if c.candidate.additional_nom_liste %}<span class="candidate-list-name">{{c.candidate.additional_nom_liste}} | n°{{c.candidate.additional_position_in_list}}</span>{% endif %}
    {%if c.elected %}<span class="label label-success pull-right"><b>Elected</b></span>{% endif %}
  </div>
    {%if c.votes_2nd_ballot %}<span class="candidate-bar"
				    style="width:{{c.votes_2nd_ballot|stringformat:".2f"}}%">&nbsp;</span>{% else %}<span class="candidate-end"></span>{% endif %}
</li>
{% endfor %}
</ul>

{% endif %}


{% if election.status >= 1 %}

<h2>Premier tour</h2>

<ul class="candidate-list">
{% for c in candidates %}
<li class="candidate-detail {%if c.elected %}candidate-elected {% endif %}candidate-party-{{c.candidate.parti.acronyme}}">
  <img src="{% if c.candidate.photo %}{{c.candidate.photo.url}}{% else %}{% if c.candidate.civilite == 'Mrs' %}{% static 'images/candidate-no-photo-female.png' %}{% else %}{% static 'images/candidate-no-photo-male.png' %}{% endif %}{% endif %}" class="candidate-photo" />
  <div class="candidate-container">
    {%if c.votes_1st_ballot %}<span class="candidate-result pull-right">{{c.votes_1st_ballot|stringformat:".2f"}}%</span>{% endif %}
    <a class="candidate-name" href="{% url 'gpt2:candidate_detail' c.candidate.id %}">{{c.candidate}}</a>
    <span class="candidate-party">{{c.candidate.parti}}</span>
    {%if c.candidate.additional_nom_liste %}<span class="candidate-list-name">{{c.candidate.additional_nom_liste}} | n°{{c.candidate.additional_position_in_list}}</span>{% endif %}
    {%if c.elected %}<span class="label label-success pull-right"><b>Elected</b></span>{% endif %}
    {%if c.finalist and not c.elected %}<span class="label label-info pull-right"><b>Finalist</b></span>{% endif %}
  </div>
    {%if c.votes_1st_ballot %}<span class="candidate-bar"
				    style="width:{{c.votes_1st_ballot|stringformat:".2f"}}%">&nbsp;</span>{% else %}<span class="candidate-end"></span>{% endif %}
</li>
{% endfor %}
</ul>

{% endif %}


{% endblock content %}
