{% extends base_template %}
{% load gpt2_extras %}

{% block title %}
Constituencies
{% endblock title %}

{% block content %}
<h1>{{title}}</h1>


{% assign current '' %}
{% for c in constituencies %}
{% if current != c.collectivite_link_child.parent.description %}
  {% if current %}
</ul>
  {% endif %}
  {% assign current c.collectivite_link_child.parent.description %}
  <h2>{% if c.collectivite_link_child.parent.numero %}{{c.collectivite_link_child.parent.numero}} - {% endif %}{{current}}</h2>
<ul>
{% endif %}
<li><a href="{% url election.name|addstr:':constituency_detail' c.id %}">{{c.description}}</a></li>
{% endfor %}

{% endblock content %}
