{% extends base_template %}
{% load gpt2_extras %}

{% block title %}
GPT2 home
{% endblock title %}

{% block content %}

<ul class="list-group">
{% for election in elections.all %}
<li class="list-group-item"><a href="{% url election.name|addstr:':index'%}">{{election.label}}</a></li>
{% endfor %}
</ul>

{% endblock content %}
