{% extends base_template %}

{% block title %}
Election summary
{% endblock title %}

{% block content %}

<div class="page-header">
  <h1>{{count}} signataires</h1>
</div>

<ul class="list-group">
{% for party in parties.all %}
<li class="list-group-item"><a href="{% url 'gpt2:signatories_list' %}?party={{party.id}}">{{party.nom_complet}}</a> <span class="badge">{{party.count}}</span></li>
{% endfor %}
</ul>

{% endblock content %}

