{% extends base_template %}
{% load gpt2_extras %}

{% block title %}
{{volontaire.prenom}} {{volontaire.nom}}
{% endblock title %}

{% block content %}

<div class="page-header">
  <h1>{{volontaire.prenom}} {{volontaire.nom}}</h1>
</div>

<div class="row">

  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item text-muted">Profile</li>
      {% if volontaire.photo %}
      <li class="list-group-item">
	<img src="{{volontaire.photo.url}}" 
	     class="img-responsive center-block" 
	     style="max-width:240px;max-height:240px;" />
      </li>
      {% endif %}
      <li class="list-group-item text-right">
	<span class="pull-left"><strong>Firstname</strong></span> {{volontaire.prenom}}
      </li>
      <li class="list-group-item text-right">
	<span class="pull-left"><strong>Name</strong></span> {{volontaire.nom}}
      </li>
      <li class="list-group-item text-right">
	<span class="pull-left"><strong>Username</strong></span> {{volontaire.login}}
      </li>
      <li class="list-group-item text-right">
	<span class="pull-left"><strong>Email</strong></span> {{volontaire.email|default:'<span class="text-muted">None</span>'}}
      </li>
      <li class="list-group-item text-right">
	<span class="pull-left"><strong>Phone</strong></span> {{volontaire.tel|default:'<span class="text-muted">None</span>'}}
      </li>
      <li class="list-group-item text-right">
	<span class="pull-left"><strong>Zip code</strong></span> {{volontaire.code_postal|default:'<span class="text-muted">None</span>'}}
      </li>
      <li class="list-group-item text-right">
	<span class="pull-left"><strong>City</strong></span> {{volontaire.ville|default:'<span class="text-muted">None</span>'}}
      </li>
      <li class="list-group-item text-left">
	<span class="pull-left"><strong>Comments</strong></span><br/>{{volontaire.commentaire|default:'<span class="text-muted">None</span>'}}
      </li>
    </ul>
  </div>

  <div class="table-responsive col-sm-8">
    
    <h4>Responsibilities</h4>

    <table class="table table-hover table-striped">
      <thead>
	<tr>
	  <th>Election</th>
	  <th>Description</th>
	  <th>Validated</th>
	  <th>Delete</th>
	</tr>
      </thead>

      <tbody>
	{% for r in volontaire.responsabilites.all %}
	<tr>
	  <td>{{r.election.label}}</td>
	  <td>{%if r.content_object.view_name%}<a href="{%url r.election.name|addstr:':'|addstr:r.content_object.view_name r.object_id%}">{{r.content_object}}</a>{%else%}{{r.content_object}}{%endif%} </td>
	  <td>{%if r.validation%}<span class="badge"><i class="fa
	  fa-check"></i></span> by {{r.auteur_validation}}
	  {{r.date_validation|timesince}} ago{%endif%}</td>
	  <td><button type="button" class="btn btn-sm btn-danger"><li class="fa fa-trash"></li> Delete</button></td>
	</tr>
	{% empty %}
	<tr><td colspan="4">None!</td></tr>
	{% endfor %}
      </tbody>
    </table>

  </div>

  <div class="table-responsive col-sm-8">
    
    <h4>Recent activity</h4>

    <table class="table table-hover table-striped">
      <tbody>
	<tr>
	  <td><i class="pull-right fa fa-edit"></i> Today, 1:00 - Foo le bot</td>
	</tr>
	<tr>
	  <td><i class="pull-right fa fa-edit"></i> Today, 1:00 - Foo le bot</td>
	</tr>
	<tr>
	  <td><i class="pull-right fa fa-edit"></i> Today, 1:00 - Foo le bot</td>
	</tr>
	<tr>
	  <td><i class="pull-right fa fa-edit"></i> Today, 1:00 - Foo le bot</td>
	</tr>

      </tbody>

    </table>

  </div>

</div>

{% endblock content %}
